@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #042940, #005C53);
}

main {
    background-color: #DBF227;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

h1, h2 {
    color:#005C53;
}

p {
    color: #042940;
}